@font-face {
  font-family: "isans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IRANSansDN.eot?nqj53a#");
  src: url("../fonts/IRANSansDN.eot?nqj53a#iefix") format("embedded-opentype"),
    url("../fonts/IRANSansDN.woff2?nqj53a") format("woff2"),
    url("../fonts/IRANSansDN.woff?nqj53a") format("woff");
}

@font-face {
  font-family: "isans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/IRANSans-Black.eot?nqj53a#");
  src: url("../fonts/IRANSans-Black.eot?nqj53a#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSans-Black.woff2?nqj53a") format("woff2"),
    url("../fonts/IRANSans-Black.woff?nqj53a") format("woff");
}

@font-face {
  font-family: "isans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/IRANSansDN-Bold.eot?nqj53a#");
  src: url("../fonts/IRANSansDN-Bold.eot?nqj53a#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSansDN-Bold.woff2?nqj53a") format("woff2"),
    url("../fonts/IRANSansDN-Bold.woff?nqj53a") format("woff");
}

@font-face {
  font-family: "isans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSans-Medium.eot?nqj53a#");
  src: url("../fonts/IRANSans-Medium.eot?nqj53a#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSans-Medium.woff2?nqj53a") format("woff2"),
    url("../fonts/IRANSans-Medium.woff?nqj53a") format("woff");
}

@font-face {
  font-family: "isans";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IRANSansDN-Light.eot?nqj53a#");
  src: url("../fonts/IRANSansDN-Light.eot?nqj53a#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSansDN-Light.woff2?nqj53a") format("woff2"),
    url("../fonts/IRANSansDN-Light.woff?nqj53a") format("woff");
}

@font-face {
  font-family: "isans";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/IRANSans-UltraLight.eot?nqj53a#"),
    src url("../fonts/IRANSans-UltraLight.eot?nqj53a#iefix")
      format("embedded-opentype"),
    url("../fonts/IRANSans-UltraLight.woff2?nqj53a") format("woff2"),
    url("../fonts/IRANSans-UltraLight.woff?nqj53a") format("woff");
}

@font-face {
  font-family: "yekan";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/YekanBakh-Bold.eot?nqj53a#");
  src: url("../fonts/YekanBakh-Bold.eot?nqj53a#iefix")
      format("embedded-opentype"),
    url("../fonts/YekanBakh-Bold.woff2?nqj53a") format("woff2"),
    url("../fonts/YekanBakh-Bold.woff?nqj53a") format("woff");
}

@font-face {
  font-family: "yekan";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/YekanBakh-Fat.eot?nqj53a#");
  src: url("../fonts/YekanBakh-Fat.eot?nqj53a#iefix")
      format("embedded-opentype"),
    url("../fonts/YekanBakh-Fat.woff2?nqj53a") format("woff2"),
    url("../fonts/YekanBakh-Fat.woff?nqj53a") format("woff");
}

@font-face {
  font-family: "yekan";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/YekanBakh-Regular.eot?nqj53a#");
  src: url("../fonts/YekanBakh-Regular.eot?nqj53a#iefix")
      format("embedded-opentype"),
    url("../fonts/YekanBakh-Regular.woff2?nqj53a") format("woff2"),
    url("../fonts/YekanBakh-Regular.woff?nqj53a") format("woff");
}

.header-phone {
  font-size: 12;
  font-family: yekan;
  font-weight: 400;
  letter-spacing: 0.7px;
  color: #fff;
}
.btn-primary {
  background-color: #f7631b;
  border: none;
  border-radius: 0;
  font-weight: 500;
  border: 1px solid #f7631b;
}
.btn-primary:hover {
  background-color: #fff;
  color: #f7631b;
  border: 1px solid #f7631b;
  transition: ease 0.3s;
  cursor: pointer;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #f7631b;
  border-color: #f7631b;
}
.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #f7631b;
  border-color: #f7631b;
  box-shadow: 0 0 0 0.2rem rgba(247, 99, 27, 0.5);
  outline: none;
}
.btn-light {
  background-color: #4cd3e3;
  border: none;
  border-radius: 0;
  font-weight: 500;
  border: 1px solid #4cd3e3;
}
.btn-light:hover {
  background-color: #fff;
  color: #4cd3e3;
  border: 1px solid #4cd3e3;
  transition: ease 0.3s;
  cursor: pointer;
}
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show > .btn-light.dropdown-toggle {
  color: #fff;
  background-color: #4cd3e3;
  border-color: #4cd3e3;
}
.btn-light.focus,
.btn-light:focus {
  color: #fff;
  background-color: #4cd3e3;
  border-color: #4cd3e3;
  box-shadow: 0 0 0 0.2rem rgba(27, 214, 247, 0.5);
  outline: none;
}
.btn-info {
  background-color: #17a2b8;
  border: none;
  border-radius: 0;
  font-weight: 500;
  border: 1px solid #17a2b8;
}
.btn-info:hover {
  background-color: #fff;
  color: #17a2b8;
  border: 1px solid #17a2b8;
  transition: ease 0.3s;
  cursor: pointer;
}
.btn-info:not(:disabled):not(.disabled).active,
.btn-info:not(:disabled):not(.disabled):active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-info.focus,
.btn-info:focus {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  box-shadow: 0 0 0 0.2rem rgba(27, 214, 247, 0.5);
  outline: none;
}
.btn-secondary {
  background-color: #6c757d;
  border: none;
  border-radius: 0;
  font-weight: 500;
  border: 1px solid #6c757d;
}
.btn-secondary:hover {
  background-color: #fff;
  color: #6c757d;
  border: 1px solid #6c757d;
  transition: ease 0.3s;
  cursor: pointer;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}
.btn-secondary.focus,
.btn-secondary:focus {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
  box-shadow: 0 0 0 0.2rem rgba(214, 214, 214, 0.5);
  outline: none;
}
.disabled {
  color: #fff !important;
  background-color: #353535 !important;
  border-color: #353535 !important;
  cursor: not-allowed !important  ;
}
.text-nowrap {
  white-space: nowrap;
}

header .fab:hover {
  color: #f7631b !important;
}

.padding-header-button {
  padding-top: 2px;
  padding-bottom: 3px;
}

.header-brand-text {
  color: #fff;
  font-size: 34px;
  line-height: 1px;
  font-weight: 800;
  font-family: yekan;
  padding-top: 5px;
}

.wh {
  background: #fff;
  color: #222;
}

.wh:hover {
  background: #222;
  color: #fff;
}

.font-yekan {
  font-family: yekan;
}

.wh1 {
  color: white;
}

header .li .a {
  margin: auto;
}

.card-primary {
  border: 0px white !important;
  background-color: transparent !important;
  padding-top: 1px;
  border-radius: 0px !important;
}

.card-header-primary {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0 !important;
  padding: 20px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-body-primary {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1);
  border: none;
  cursor: pointer;
}

.card-link-primary {
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #222;
}

.card-link-primary:hover {
  cursor: pointer;
}

.card-primary:hover {
  transform: translateY(-3px);
  box-shadow: 0px 1px 7px 0px black;
}

.card-primary:hover .card-header-primary {
  background: #f7631b;
}

.card-primary:hover .card-body-primary a {
  color: #f7631b;
}

.card-secondary {
  border: 1px transparent !important;
  background-color: transparent !important;
  padding-top: 1px;
  border-radius: 0px !important;
}

.card-header-secondary {
  border-radius: 0 !important;
  background: rgba(247, 99, 27, 0.5);
  padding: 20px 0px;
  border: 0;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.card-body-secondary {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 10px 30px 0px rgba(153, 153, 153, 0.1);
  border: none;
  cursor: pointer;
}

.card-link-secondary {
  font-size: 14px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #222;
}

.card-secondary:hover {
  transform: translateY(-3px);
  box-shadow: 0px 1px 7px 0px black;
}

.card-link-secondary:hover {
  cursor: pointer;
}

.card-secondary:hover .card-header-secondary {
  background: #f7631b;
}

.card-secondary:hover .card-body-secondary a {
  color: #f7631b;
}

@media (max-width: 991px) {
  .card-primary {
    margin-bottom: 20px;
    padding-top: 0;
    transform: translateY(1px);
  }

  .card-primary .card-header-primary {
    background: #04091e;
  }

  .card-primary:hover .card-header-primary {
    background-color: #04091e;
  }
}

@media (max-width: 991px) {
  .card-secondary {
    margin-bottom: 20px;
    padding-top: 0;
    transform: translateY(1px);
  }

  .card-secondary .card-header-secondary {
    background: #f7631b;
  }
}

.font-48px {
  font-size: 48px;
}

.line-hight-07em {
  line-height: 0.7em !important;
}

.font-weight-800 {
  font-weight: 800;
}

.selectDisable {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media (max-width: 991px) {
  .media-counter {
    text-align: center !important;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }
}

.video-area-link {
  color: #f7631b;
}

.video-area {
  line-height: 1.9em;
}

.details-btn2 {
  border: 1px solid #f7631b;
  width: 40px;
  height: 40px;
  border-radius: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.details-btn2 .details {
  visibility: hidden;
  opacity: 0;
  margin-left: -58px;
  font-weight: 600;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

.details-btn2 .fa {
  color: #f7631b;
  line-height: inherit;
}

.video-area:hover .details-btn2 {
  width: 140px;
  background: #f7631b;
  box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}

.video-area:hover .details {
  margin-left: 0;
  visibility: visible;
  opacity: 1;
  margin-right: 8px;
}

.video-area:hover .details-btn2 span {
  color: #fff;
  font-weight: 600;
}

@media (max-width: 991px) {
  .details-btn2 span {
    color: #fff !important;
    font-weight: 600;
  }

  .details-btn2 {
    margin-top: 10px;
    display: flex;
    width: 100%;
    color: #fff !important;
    background: #f7631b;
    box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
  }

  .details {
    margin-left: 0 !important;
    visibility: visible !important;
    opacity: 1 !important;
    margin-right: 8px;
    color: #fff !important;
  }

  .video-area:hover .details-btn2 {
    width: 100%;
  }
}

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.img-video {
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.icon-video {
  width: 80px;
  height: 80px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 34px -8px rgba(0, 0, 0, 0.1);
  z-index: 1;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.btn-play {
  color: #f7631b !important;
}

@media (max-width: 991px) {
  .img-video {
    height: 350px;
  }
}

@media (max-width: 450px) {
  .img-video {
    height: 250px;
  }
}

@media (max-width: 375px) {
  .hidden-less-375 {
    display: none !important;
  }
}

.nav-item {
  font-size: 16px;
  font-family: Yekan;
  font-weight: 550;
  letter-spacing: 0.05em;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f7631b;
  border-bottom: 1px solid #f7631b;
  transform: scale(1.1);
}
@media (max-width: 991px) {
  .navbar-dark .navbar-nav .nav-link:hover {
    border-bottom: none;
    transform: none;
  }
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #f7631b;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

@media (max-width: 991px) {
  #header {
    background-color: rgba(4, 9, 30, 1);
  }

  .nav-item:hover {
    transform: scale(1);
    border-bottom: none;
  }
}

.navbar-toggler {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0.25rem 0.75rem;
  font-size: 1.5rem;
  line-height: 1;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 0rem;
}

.navbar-brand {
  margin-left: 0rem;
}

#loading {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.body-on-loading {
  overflow: hidden;
  height: 100vh;
}

.lg-outer {
  direction: ltr !important;
}

.circle-rm {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  font-size: 150px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  border-style: ridge;
  border: 2px ridge #f7631b;
}

.circle-rm:hover {
  background-color: #04091e;
  color: #fff;
  -webkit-animation: pulsate-fwd 0.9s ease-in-out infinite both;
  animation: pulsate-fwd 0.9s ease-in-out infinite both;
}

@media (max-width: 575px) {
  .arrow-rm2 {
    display: none;
    opacity: 0;
  }

  .circle-rm {
    width: 30vw !important;
    height: 30vw !important;
  }

  .circle-rm2 {
    justify-content: center !important;
  }

  .circle001 {
    margin-left: -40vw;
  }

  .circle002 {
    margin-left: -24vw;
  }

  .circle003 {
    margin-left: -8vw;
  }

  .circle004 {
    margin-left: 8vw;
  }

  .circle005 {
    margin-left: 24vw;
  }

  .circle006 {
    margin-left: 40vw;
  }
}

@media (max-width: 991px) {
  .arrow-rm {
    display: none;
    opacity: 0;
  }

  .arrow-rm-nc {
    display: none;
    opacity: 0;
  }

  .circle-rm {
    width: 20vw;
    height: 20vw;
  }
}

@media (min-width: 575px) and (max-width: 991px) {
  .circle-rm2 {
    justify-content: space-between !important;
  }
}

@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.05);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.circle001 {
  background-color: #f76d2a;
  color: #fff;
}

.circle002 {
  background-color: #ff803d;
  color: #fff;
}

.circle003 {
  background-color: #fc9762;
  color: #f0f0f0;
}

.circle004 {
  background-color: #fcb18d;
  color: #404040;
}

.circle005 {
  background-color: #fccab6;
  color: #303030;
}

.circle006 {
  background-color: #ffe7de;
  color: #202020;
}

.font-size15 {
  font-size: 15px !important;
}

.form-control {
  height: calc(2em + 0.75rem + 2px);
  border: 1px solid #000;
}

.form-control:focus {
  color: #404040;
  background-color: #fff;
  border-color: #f7631b;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(247, 99, 27, 0.2);
}

@media (max-width: 991px) {
  .cta-two-btn {
    padding-top: 5vh;
  }
}

.text-orange {
  color: #f7631b;
}

@media (max-width: 991px) {
  .single-blog .details-btn {
    width: 140px;
    background: #f7631b;
    color: white;
    box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
  }

  .single-blog .details-btn .details {
    margin-left: 0;
    visibility: visible;
    opacity: 1;
    margin-right: 8px;
  }
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #f7631b;
}
.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #d6d6d6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  border-radius: 0px;
}
.owl-dots .active {
  outline: none !important;
  box-shadow: none !important;
}
.section-gap2 {
  margin-top: 120px;
  margin-bottom: 120px;
}
.btn-group-lg > .btn,
.btn-md {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 0rem;
}
.single-blog:hover .details-btn {
  width: 140px;
  background: #f7631b;
  color: white;
  box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
}
.single-blog:hover .details-btn .details {
  margin-left: 0;
  visibility: visible;
  opacity: 1;
  margin-right: 8px;
}
.section-gap3 {
  padding-bottom: 120px;
}
.galery-links {
  padding-top: 20px;
  padding-right: 10px;
}
.galery-links button {
  color: #f7631b;
  background-color: #fff;
  margin-left: 10px;
  padding: 5px;
  border: none;
  outline: none !important;
  box-shadow: none !important;
}
.galery-links button:hover {
  color: #fff;
  cursor: pointer;
}
.activate {
  color: #fff !important;
  background-color: #f7631b !important;
  outline: none !important;
  box-shadow: none !important;
}
.font-light {
  color: #aaa;
}
.font-light-footer {
  color: #999;
}
.card-body a h5 {
  color: #000;
}
.single-blog:hover .card-title a {
  color: #f7631b;
}
.single-blog small a:hover {
  color: #000;
  font-weight: 500;
}
.single-blog:hover {
  border-color: #f7631b;
}
.single-blog {
  border-radius: 0;
}
.single-blog img {
  border-radius: 0;
}
.profile {
  width: 30px;
  height: 30px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 50%;
}
.profile-avatar {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.n-link {
  color: #000;
  font-size: 12px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 6px 1.2vw;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}
.n-link.active {
  color: #f7631b;
  background: transparent;
  border-bottom: 1px solid #f7631b;
}
.n-link:hover {
  color: #f7631b;
  background: transparent;
  border-bottom: 1px solid #f7631b;
}
.card-1 {
  position: relative;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
}
.card-body {
  background: #f9f9ff;
}
.course-details li {
  background: #f9f9ff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.course-details li h5 {
  color: #000;
  padding-top: 4px;
}
.course-details li span {
  color: #555;
  padding-bottom: 4px;
}
@media (max-width: 991px) {
  .course-details {
    margin-top: 30px;
  }
}
.font-size42 {
  font-size: 42px !important;
}
.card-2 {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f9f9ff;
  border-radius: 0;
}
.card-2h a:hover {
  color: #000;
  font-weight: bold;
}
.card-2h .btn-primary {
  background-color: #f9f9ff;
  color: #f7631b;
  border: 1px solid #f7631b;
  transition: ease 0.3s;
  cursor: pointer;
}
.card-2h:hover {
  border: 1px solid #aaa;
  box-shadow: 0px 0px 3px 1px rgba(90, 90, 90, 0.3);
}
.card-2h:hover .btn-primary {
  background-color: #f7631b;
  color: #fff;
  border: 1px solid #f7631b;
  transition: ease 0.3s;
  cursor: pointer;
}
.form-control {
  border-radius: 0;
}
.input-group-text {
  border-radius: 0;
  border-color: #f7631b;
  color: #000;
  background-color: #d6d6d6;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #f7631b;
  background-color: #f7631b;
  border-radius: 0;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #f7631b;
  background-color: #f7631b;
  border-color: none;
  box-shadow: none;
  border-radius: 0;
}
.custom-control-label::before {
  position: absolute;
  top: 0.25rem;
  right: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
  border-radius: 0 !important;
}
.primary-switch input + label:before {
  background-color: gray;
}
#anchor {
  scroll-margin-top: 120px;
}
.trans-y-4 {
  transform: translateY(-4px);
}
.close {
  font-size: 2rem;
}
.modal-content {
  border-radius: 0.1rem;
}
.modal-header {
  padding: 0.7rem 0.7rem;
}
.n-link2 {
  color: #000;
  font-size: 24px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 6px 1.2vw;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border-bottom: 1px solid #fff;
  padding-bottom: 2px;
}
.n-link2.active {
  color: #f7631b;
  background: transparent;
  border-bottom: 1px solid #f7631b;
}
.n-link2:hover {
  color: #f7631b;
  background: transparent;
  border-bottom: 1px solid #f7631b;
}
.unordered-list a {
  color: #666;
}
.unordered-list a:hover {
  color: #000;
}
.branch1 {
  padding-right: 2vw;
}
.branch2 {
  padding-right: 4vw;
}
.branch3 {
  padding-right: 6vw;
}
.accordion .card-body {
  background-color: #fff !important;
}
.accordion .card-2 {
  margin-top: 4px;
  margin-bottom: 4px;
  border: none !important;
}
.accordion .collapsed {
  background-color: #f9f9ff !important;
  border-color: #f9f9ff !important;
  color: #303030;
}
.accordion .btn-primary.focus,
.accordion .btn-primary:focus {
  outline: none;
  box-shadow: none;
}
.accordion button:after {
  position: absolute;
  left: 10px;
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #fff;
}
.accordion .collapsed:after {
  position: absolute;
  left: 10px;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #303030;
}
.accordion .collapsed:hover:after {
  position: absolute;
  left: 10px;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #303030;
}
.accordion button:hover:after {
  position: absolute;
  left: 10px;
  content: "\f106";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #fff;
}
.py-4p {
  padding-top: 4px;
  padding-bottom: 4px;
}
.dropdown-toggle::after {
  display: none;
}
@media (max-width: 991px) {
  .dropdown-toggle::after {
    display: inline-block;
    margin-right: 0.05em;
    vertical-align: 0.1em;
  }
}
.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  clear: both;
  font-size: 15px;
  font-family: Yekan;
  font-weight: 550;
  letter-spacing: 0.05em;
  color: white;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-menu {
  display: none;
  background-color: rgba(4, 9, 30, 0.7);
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: inherit;
  text-align: right;
  list-style: none;
  border: 1px solid transparent;
  border-radius: 0;
  transform: none !important;
}
@media (min-width: 991px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #f7631b;
  text-decoration: none;
  background-color: inherit;
  color: #f7631b !important;
  border-bottom: 1px solid #f7631b;
}
.dropdown span {
  cursor: pointer;
}
@media (max-width: 991px) {
  .dropdown-toggle[aria-expanded="true"]::after {
    border-bottom: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-top: 0;
    border-left: 0.3em solid transparent;
  }
  .dropdown-toggle[aria-expanded="false"] {
    color: white;
  }
  .dropdown-toggle[aria-expanded="true"] {
    color: #f7631b;
  }
  .nav-item {
    font-size: 18px;
    line-height: 3.5vh;
  }
}