@font-face {
  font-family: 'isans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/IRANSansDN.eot?nqj53a#");
  src: url("../fonts/IRANSansDN.eot?nqj53a#iefix") format("embedded-opentype"), url("../fonts/IRANSansDN.woff2?nqj53a") format('woff2'), url("../fonts/IRANSansDN.woff?nqj53a") format('woff');
}
@font-face {
  font-family: 'isans';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/IRANSans-Black.eot?nqj53a#");
  src: url("../fonts/IRANSans-Black.eot?nqj53a#iefix") format("embedded-opentype"), url("../fonts/IRANSans-Black.woff2?nqj53a") format('woff2'), url("../fonts/IRANSans-Black.woff?nqj53a") format('woff');
}
@font-face {
  font-family: 'isans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/IRANSansDN-Bold.eot?nqj53a#");
  src: url("../fonts/IRANSansDN-Bold.eot?nqj53a#iefix") format('embedded-opentype'), url("../fonts/IRANSansDN-Bold.woff2?nqj53a") format('woff2'), url("../fonts/IRANSansDN-Bold.woff?nqj53a") format('woff');
}
@font-face {
  font-family: 'isans';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IRANSans-Medium.eot?nqj53a#");
  src: url("../fonts/IRANSans-Medium.eot?nqj53a#iefix") format('embedded-opentype'), url("../fonts/IRANSans-Medium.woff2?nqj53a") format('woff2'), url("../fonts/IRANSans-Medium.woff?nqj53a") format('woff');
}
@font-face {
  font-family: 'isans';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/IRANSansDN-Light.eot?nqj53a#");
  src: url("../fonts/IRANSansDN-Light.eot?nqj53a#iefix") format('embedded-opentype'), url("../fonts/IRANSansDN-Light.woff2?nqj53a") format('woff2'), url("../fonts/IRANSansDN-Light.woff?nqj53a") format('woff');
}
@font-face {
  font-family: 'isans';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/IRANSans-UltraLight.eot?nqj53a#"), src url("../fonts/IRANSans-UltraLight.eot?nqj53a#iefix") format('embedded-opentype'), url("../fonts/IRANSans-UltraLight.woff2?nqj53a") format('woff2'), url("../fonts/IRANSans-UltraLight.woff?nqj53a") format('woff');
}
@font-face {
  font-family: 'yekan';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/YekanBakh-Bold.eot?nqj53a#");
  src: url("../fonts/YekanBakh-Bold.eot?nqj53a#iefix") format('embedded-opentype'), url("../fonts/YekanBakh-Bold.woff2?nqj53a") format('woff2'), url("../fonts/YekanBakh-Bold.woff?nqj53a") format('woff');
}
@font-face {
  font-family: 'yekan';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/YekanBakh-Fat.eot?nqj53a#");
  src: url("../fonts/YekanBakh-Fat.eot?nqj53a#iefix") format('embedded-opentype'), url("../fonts/YekanBakh-Fat.woff2?nqj53a") format('woff2'), url("../fonts/YekanBakh-Fat.woff?nqj53a") format('woff');
}
@font-face {
  font-family: 'yekan';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/YekanBakh-Regular.eot?nqj53a#");
  src: url("../fonts/YekanBakh-Regular.eot?nqj53a#iefix") format('embedded-opentype'), url("../fonts/YekanBakh-Regular.woff2?nqj53a") format('woff2'), url("../fonts/YekanBakh-Regular.woff?nqj53a") format('woff');
}
.header_phone {
  font-size: 12;
  font-family: yekan;
  font-weight: 400;
  letter-spacing: .7px;
  color: #fff;
}

.btn-primary {
  background-color: #f7631b !important;
  border-radius: 0 !important; 
}
.btn-primary:hover {
  background-color: #fff !important;
  color: #f7631b !important;
}
.text-nowrap {
  white-space: nowrap;
}
header .fab:hover {
  color: #f7631b !important;
}
.row-xs-center {
  justify-content: center;
}
.padding-header-button {
  padding-top: 2px;
  padding-bottom: 3px;
}
.header-brand-text {
  color: #fff;
  font-size: 34px;
  line-height: 1px;
  font-weight: 800;
  font-family: yekan;
  padding-top: 5px;
}